    </main>
    <footer class="site-footer" id="consult">
      <div class="container site-footer__content">
        <div>
          <h3><%= (t.footer && t.footer.title) || (t.meta && t.meta.siteName) || '룸빵일번지' %></h3>
          <p><%= (t.footer && t.footer.description) || '' %></p>
        </div>
        <div>
          <h4><%= t.footer && t.footer.contactTitle ? t.footer.contactTitle : '' %></h4>
          <ul>
            <li>
              <%= t.footer && t.footer.contact ? t.footer.contact.partner : '' %>:
              <a href="tel:01000000000">010-0000-0000</a>
            </li>
            <li>
              <%= t.footer && t.footer.contact ? t.footer.contact.hours : '' %>:
              <span><%= t.footer && t.footer.contactHours ? t.footer.contactHours : '' %></span>
            </li>
            <li>
              <%= t.footer && t.footer.contact ? t.footer.contact.kakao : '' %>:
              <span><%= t.footer && t.footer.kakaoId ? t.footer.kakaoId : '' %></span>
            </li>
          </ul>
        </div>
        <div>
          <h4><%= t.footer && t.footer.quickLinksTitle ? t.footer.quickLinksTitle : '' %></h4>
          <ul>
            <li><a href="#areas"><%= t.footer && t.footer.links ? t.footer.links.areas : '' %></a></li>
          </ul>
        </div>
      </div>
      <div class="site-footer__bottom">
        <p>
          <%= t.footer && t.footer.copyright
            ? t.footer.copyright.replace('{year}', new Date().getFullYear())
            : `© ${new Date().getFullYear()} 룸빵일번지. All rights reserved.` %>
        </p>
      </div>
    </footer>
    <script src="/scripts/language-switcher.js"></script>
    <% if (scripts) { %>
      <% scripts.forEach(function (script) { %>
        <script src="<%= script %>"></script>
      <% }); %>
    <% } %>
  </body>
</html>
